@font-face {
    font-family: harryPotter;
    src: url(HARRP.ttf);
}

h1, .jumbotron {
	text-align: center;
	font-family: harryPotter;
	color: #fff;
}

.jumbotron {
    color: #B8A351;
    background-color: rgb(124, 61, 111);
}

body {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

img {
	width: 400px;
	height: 400px;
}

.btn { 
  color: #ffffff; 
  background-color: #B8A351; 
  border-color: #FFFFFF; 
} 
 
.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  color: #ffffff; 
  background-color: #000000; 
  border-color: #FFFFFF; 
} 
 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  background-image: none; 
} 
 
 
.btn .badge { 
  color: #B8A351; 
  background-color: #ffffff; 
}